@charset "utf-8";

:root{
    --cor0:#000000;
    --cor1:#BF2C1F;
    --cor2:#ffffff;
    --cor3:#400404;

}

/* ESTILOS GLOBAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    margin: 5% 2%;
}

nav{
    background-color: #ffffff;
    height: 15%;
}

nav > .menu a{
   
    color: var(--cor1);
}

nav > .menu a:hover{
    color: var(--cor3);
}


span{
    font-weight: bold;
    
}

.texto{
    margin: 2% 0px;
    font-size: 1.2em;
    text-align: justify;
    line-height: 30px;
}

picture > .historia_do_churrasco{
    width: 100%;
    max-width: 500px;
    max-height: 370px;
    border-radius: 5%; 
    box-shadow: 5px 5px 15px #000000ab;
}

/* BOTÕES */
.botao_card{
    background-color: var(--cor1);
    border: none;
    position: absolute;
    text-decoration: none;
}

.botao_card:hover{
    background-color: var(--cor3);
    text-decoration: none;
}

.botao_header{
    background-color: var(--cor1);
    border: none;
}

.botao_header:hover{
    background-color: var(--cor3);
}

.botao_header a{
    color: var(--cor2);
    text-decoration: none;
}

.botao_header a:hover{
    color: var(--cor2);
}

/* ESTILOS CARDS  */
h2{
    padding: 2% 0;
    border-bottom: 1px solid #00000033;
    
}

.body_cartao{
    padding: 0 0 4vh 1vw;    
}

.body_cartao h2{
    margin: 2rem;
}

.card_receita{
    margin: 15px;
    padding: 1rem;
    border-radius: 2rem 0.5rem;
    transition: 1s;
}

.card_receita:hover{
    transform: scale(1.10);
    box-shadow: 10px 10px 20px #000000ab;
}

.img_card{
    border-radius: 1rem;
}

.card-text{
    overflow: auto;
    font-size: 0.9em;
    height: 60%;
}

/* DOCES */

/* CHURRASCO */



/* CURIOSIDADES */


/* HISTORIA DO CHURRASCO */


.curiosidades_body > .botao_card{
    position: relative;
}

picture > .churrasco_gaucho{
    margin: 1%;
    width: 100%;
    max-width: 900px;
    max-height: 560px;
    border-radius: 3%; 
   
}

picture > .churrasco_gaucho > .img_pequena{
    width: 100%;

}

figcaption{
    font-size: 0.8em;
}

/* TERMO */

.texto{
    margin: 2% 0px;
    font-size: 1.2em;
    text-align: justify;
    line-height: 30px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20%;
    margin-inline-end: 20%
}

figure img {
    border-radius: 5%;
}




/* VERSÕES */

.texto-02{
    margin: 2% 0px;
    font-size: 1.2em;
    text-align: justify;
    line-height: 30px;
}

a{
    text-decoration: none;
    color: var(--cor1);
}

.fonte{
    font-style: italic;
}

/* ESTILOS RODAPÉ */

.rodape{
    margin-top: 10%; 
    border-top: 1px solid #00000022;
}