/* ESTILOS GLOBAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    margin: 1rem 5%;
}


/* ESTILOS CARDS  */
h2{
    padding: 2% 0;
    border-bottom: 1px solid #dddddd;
    
}

.cartao_linha1{
    padding: 0 0 4vh 1vw;    
}

.cartao_linha1 h2{
    margin: 2rem;
}

.card{
    margin: 15px;
    padding: 1rem;
    border-radius: 2rem 0.5rem;
    transition: 1s;
}

.card:hover{
    transform: scale(1.10);
    box-shadow: 10px 10px 20px #000000ab;
}

.img_card{
    border-radius: 1rem;
}

.card-text{
    height: 62%;
}

.botao_card{
    background-color: #BF2C1F;
    border: none;
    position: absolute;
}

.botao_card:hover{
    background-color: #400404;
}

.teste{
    width: 50%;
    height: 16px;
}

.cartao_curiosidades{
    background-color: #BF2C1F;
    border: 1px solid #000000ab;
    border-radius: 20px;
    width: 60%;
}

/* ESTILOS RODAPÉ */
